In [65]:
import pandas as pd
import sklearn
import math

In [68]:
first_sentence = "Artificial Intelligence Engineer is the sexiest job in the 21st century"
second_sentence = "Machine Learning is the key for artificial intelligence"

In [69]:
#splitting so that each word have their own string
first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")
total = set(first_sentence).union(set(second_sentence))
print(total)

{'Intelligence', 'sexiest', 'Artificial', 'job', 'artificial', 'for', 'Engineer', 'Machine', 'intelligence', '21st', 'Learning', 'the', 'century', 'in', 'key', 'is'}

In [71]:
#counting the words using a dictionary key-value pair for both the sentences
dictA = dict.fromkeys(total, 0)
dictB = dict.fromkeys(total, 0)
for word in first_sentence:
    dictA[word]+=1
for word in second_sentence:
    dictB[word]+=1

In [72]:
pd.DataFrame([dictA, dictB])

,21st,Artificial,Engineer,Intelligence,Learning,Machine,artificial,century,for,in,intelligence,is,job,key,sexiest,the
0,1,1,1,1,0,0,0,1,0,1,0,1,1,0,1,2
1,0,0,0,0,1,1,1,0,1,0,1,1,0,1,0,1

In [82]:
"""Writing the TF function"""
def computeTF(dict, doc):
    tfDict = {}
    corpusCount = len(doc)
    for word, count in dict.items():
        tfDict[word] = count/float(corpusCount)
    return(tfDict)

tfFirst = computeTF(dictA, first_sentence)
tfSecond = computeTF(dictB, second_sentence)
tf = pd.DataFrame([tfFirst, tfSecond])

In [83]:
pd.DataFrame([tfFirst, tfSecond])

,21st,Artificial,Engineer,Intelligence,Learning,Machine,artificial,century,for,in,intelligence,is,job,key,sexiest,the
0,0.090909,0.090909,0.090909,0.090909,0.000,0.000,0.000,0.090909,0.000,0.090909,0.000,0.090909,0.090909,0.000,0.090909,0.181818
1,0.000000,0.000000,0.000000,0.000000,0.125,0.125,0.125,0.000000,0.125,0.000000,0.125,0.125000,0.000000,0.125,0.000000,0.125000